html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


main {
    margin-left: 10%;
}

.input-group{
    width: 250px;
    margin-bottom: 20px;
}

.productcard {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    background-color: lightgray;
    border-radius: 5px;
    border: 2px solid #ccc;
}
.productInfo{
    margin-right: 15px;
    width: 250px
}

.square {
    height: 100px;
    width: 100px;
    background-color: #555;
}

.productImg {
    flex-shrink: 0;
}

.ProductDisplay{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.productInfo2 {
    width: 700px;
    margin-right: 15px;
}

/*Deze classes zijn, met een paar aanpassingen, gekopieerd van https://www.w3schools.com/w3css/5/w3.css */
.w3-sidebar {
    top: 57px;
    bottom: 60px;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

.w3-bar-block {
    width: 100%
}

.w3-bar-item {
    padding: 8px 16px;
    float: none;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    margin-left: 1rem;
}

.w3-button {
    white-space: normal;
    color: #000
}