html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main {
    margin-left: 10%;
}

/*Deze classes zijn, met een paar aanpassingen, gekopieerd van https://www.w3schools.com/w3css/5/w3.css */
.w3-sidebar {
    top: 57px;
    bottom: 60px;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

.w3-bar-block {
    width: 100%
}

.w3-bar-item {
    padding: 8px 16px;
    float: none;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    color: #000
}

.w3-button {
    white-space: normal;
    color: #000
}

.w3-card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}